<!-- Script for Facebook Login Button -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=643880789678183&autoLogAppEvents=1"></script>

<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>